---
import NavBar from "../components/Navbar";
import Layout from "../layouts/Layout.astro";
import AboutUs from "./reactPages/About";
---

<Layout title="Avovite | Nosotros">
  <main class="min-h-screen">
    <NavBar client:load />
    <AboutUs client:load />
  </main>
</Layout>
