---
import NavBar from "../components/Navbar";
import Layout from "../layouts/Layout.astro";
import AboutUs from "./../ReactPages/About";
---

<Layout title="Avovite | Nosotros">
  <main class="min-h-screen">
    <NavBar client:load />
    <AboutUs />
  </main>
</Layout>
