---
import NavBar from "../components/Navbar";
import Layout from "../layouts/Layout.astro";
import { Blog as BlogComponent } from "./../ReactPages/Blog";
---

<Layout title="Avovite | Blog">
  <main class="min-h-screen">
    <NavBar client:load />
    <BlogComponent />
  </main></Layout
>
