---
import NavBar from "../components/Navbar";
import Layout from "../layouts/Layout.astro";
import Formulario from "./../ReactPages/Formulario";
---

<Layout title="Avovite | Nosotros">
  <main class="min-h-screen">
    <NavBar client:load />
    <Formulario client:load />
  </main>
</Layout>
