---
import NavBar from "./../components/Navbar";
import Layout from "./../layouts/Layout.astro";
import { Formulario as FormularioComponent } from "./../ReactPages/FormularioLanding2";
---

<Layout title="Avovite | Nosotros">
  <main class="min-h-screen">
    <NavBar client:load activeRoute="/formularioLanding2" />
    <FormularioComponent client:load />
  </main>
</Layout>
