---
import NavBar from "./../components/Navbar";
import Layout from "./../layouts/Layout.astro";
import { Formulario as FormularioComponent } from "./../ReactPages/Formulario";
---

<Layout title="Avovite | Formulario">
  <main class="min-h-screen">
    <NavBar client:load activeRoute="/formulario" />
    <FormularioComponent client:load />
  </main>
</Layout>
