---
import Presentation from "../components/Presentation";
import SponsorsList from "../components/SponsorsList";

import "./../styles/index.css";
---

<main class="min-h-screen bg-black">
  <div class="mx-auto">
    <Presentation />
    <SponsorsList />
  </div>
</main>
