---
import NavBar from "../components/Navbar";
import Layout from "../layouts/Layout.astro";
import Home from "./../ReactPages/Home";
---

<Layout title="Avovite | Nosotros">
  <main class="min-h-screen">
    <NavBar client:load />
    <Home client:load />
  </main>
</Layout>
