---
import NavBar from "./../components/Navbar";
import Layout from "./../layouts/Layout.astro";
import Home from "./../ReactPages/Home";
---

<Layout title="Avovite">
  <main class="min-h-screen">
    <NavBar client:load activeRoute="/" />
    <Home client:load />
  </main>
</Layout>
