---
import Presentation from "../components/Presentation";
import SponsorsList from "../components/SponsorsList";
import GetReadyToElevate from "../components/GetReadyToElevate";
import VideoContainer from "../components/VideoContainer";

import "./../styles/index.css";
---

<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<main class="min-h-screen bg-black">
  <div class="mx-auto">
    <Presentation />
    <SponsorsList client:visible />
    <GetReadyToElevate client:visible />
    <VideoContainer client:visible />
  </div>
</main>
