---
import NavBar from "./../components/Navbar";
import Layout from "./../layouts/Layout.astro";
import { Shop as ShopComponent } from "./../ReactPages/Shop";
---

<Layout title="Avovite | Compra ahora">
  <main class="min-h-screen">
    <NavBar client:load activeRoute="/shop" />
    <ShopComponent client:load />
  </main>
</Layout>
