---
import NavBar from "../components/Navbar";
import Layout from "../layouts/Layout.astro";
import Shop from "./../ReactPages/Shop";
---

<Layout title="Avovite | Nosotros">
  <main class="min-h-screen">
    <NavBar client:load />
    <Shop client:load />
  </main>
</Layout>
