---
import NavBar from "./../components/Navbar";
import Layout from "./../layouts/Layout.astro";
import { Testimonials as TestimonialsComponent } from "./../ReactPages/Testimonials";
---

<Layout title="Avovite | Testimonios">
  <main class="min-h-screen">
    <NavBar client:load activeRoute="/testimonials" />
    <TestimonialsComponent client:visible />
  </main></Layout
>
